<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <title>Bookmarking app</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">

    <base href="/">

    <script src="/libs.min.js"></script>
    <script src="/libs2.min.js"></script>
    <script src="/app.js"></script>

  </head>
  <body ng-app="app">

    <div ng-view></div>

    <footer class="footer">&copy; 2017</footer>

  </body>
</html>
