.link {
	margin-bottom: 12px;
}

@media (min-width: 1000px) {
	.link {
		width: 60%;
	}
}

.link-table {
	display: table;
	width: 100%;
}

.link-row {
	display: table-row;
}

.link-cell {
	display: table-cell;
}

.link-cell.mControls {
	width: 60px;
	padding: 0 10px;
	background-color: #f1f1f1;
	vertical-align: middle;
	border-radius: 4px;
}

.link-cell.mLink {
	padding-right: 20px;
}

.link-control {
	display: inline-block;
	cursor: pointer;
}

.link-control.mEdit {
	margin-left: 10px;
}

.link-url {
	color: #000;
}

.link-tag {
	margin-left: 10px;
}

.link-date {
	margin-right: 20px;
	color: #bbb;
}

.link-edit {
	margin: 15px 0;
/*	border-top: 2px solid #ddd;*/
	border-bottom: 2px solid #ddd;
}







